
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}@media screen and (max-width:600px)
{
    .navbarsection .navbar-nav .nav-item .nav-link{
        text-align: center;
    }
    .navbarsection .navbar-nav .nav-item .nav-link:hover{
        color:rgb(243, 57, 57);
    }
    #homeinfo{
       margin-top:60px; 
    }
    #mypic{
        margin-top:40px;
    }
    .aboutme{
        margin:40px 5px 0px 5px;
    }
    h2{
        font-size: 10px;
    }
    h3{
        font-size: 10px;
    }
    h4{
        font-size: 10px;
    }

    #home h2::after{
        content:'';
        width:40%;
        height:0.9px;
        background-color:black;
        position:absolute;
        top:10%;
        left:40%;
        overflow-x: hidden;
    }
}
@media screen and (max-width:1000px)
{
    .navbarsection .navbar-nav .nav-item .nav-link{
        text-align: center;
    }
    .navbarsection .navbar-nav .nav-item .nav-link:hover{
        color:rgb(243, 57, 57);
    }
    .aboutme{
        margin:40px 5px 0px 5px;
    }
}